@font-face {
    font-family: "Bricolage";
    src: url(fonts/BricolageGrotesque-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: "Bricolage";
    src: url(fonts/BricolageGrotesque-Bold.woff2);
    font-weight: 700;
}

* {
    text-decoration: none;
    color: brown;
    padding: 0;
    border: 0;
    margin: 0;
    background: none;
    outline: 0;
    font-family: "Bricolage";


}

/*btns*/

.primary-btn {
    background-color:rgb(216, 144, 61);
    padding: 10px 15px;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 18px;
    box-shadow: 	#a89a8c 2px 2px 2px;
    border: 1px solid transparent;
    font-weight: 700;
    cursor: pointer;
}

.primary-btn:hover {
    border-color: rgb(216, 144, 61);
    background-color: #eed9c4;
    color: brown;

}

.secondary-btn {
    background-color: #d9b99b;
    padding: 10px 15px;
    border-radius: 10px;
    text-transform: uppercase;
    font-family: "Bricolage";
    cursor: pointer;
    font-size: 24px;
    box-shadow: rgb(240, 201, 157) 2px 2px 2px;
    border: 1px solid transparent;
    font-weight: 700;
}

.secondary-btn:hover{
    border-color: #d9b99b;
    background-color: rgb(246, 250, 215);
    color: brown;

}

/*Header*/

.max-width-container{
    max-width: 1200px;
    margin: 0px auto;
    padding: 10px;
}
.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
}

header{
    background-color: 	#d9b99b;
    font-family: "Bricolage";
    font-weight: 700;
    position: sticky;
    top: 0;
}

nav {
display: flex;
justify-content: center;
flex-direction: row;
gap: 10%;
align-items: center;

}

nav a {
    font-size: 20px;
}

/*Body*/

body {
    background-color: antiquewhite;
}
.inside{
    display: flex;
    align-items: center;
}
.inside-text{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    padding: 0px 30px;
    text-align: center;
    row-gap: 10px;
    font-size: 20px;

}
.inside2 {
    display: flex;
    text-align: center;


}
.inside2-item{
    display: flex;
    align-items: center;

}
.inside2-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 50px;
    font-size: 20px;
    gap: 30px;
}

#inside2{
        font-size: 30px;
    font-weight: 700;
    padding: 13px;
    background-color: #d9b99b;
    border-radius: 10px;
}


.inside3{
display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.inside3-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 50px;
    font-size: 20px;
    gap: 30px;
}
#inside3 {
        font-size: 30px;
    font-weight: 700;
    padding: 13px;
    background-color: #d9b99b;
    border-radius: 10px;
}
.Treatments-container {
    display: flex;
    justify-content: space-evenly;
}
.Treatments-item {
display: flex;
    background-color: #d9b99b;
    padding: 20px;
    border-radius: 13px;
    gap: 10px;
    flex-direction: column;
}
.title {
    background-color: #faf0e6;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    padding: 10px;
}
.list {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    align-items: center;
}




